@layer components {
    .last-mb-none {
        *:last-child {
            @apply mb-0;
        }
    }
    .transform-middle {
        top: 50%;
        transform: translateY(-50%);
    }

    .transform-center {
        left: 50%;
        transform: translateX(-50%);
    }

    .transform-center-middle {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .custom-transition {
        transition: all 0.3s ease;
    }

    .background-overlay {
        @apply absolute inset-0;
    }
    .icomoon-icon .icomoon {
        display: inline-block;
        padding: 10px;
        font-size: 1.2rem;
    }
    
    section, footer, header {
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    }

    section {
        @apply rounded-2xl overflow-hidden;
    }

    table tbody tr {
        @apply hover:bg-primary-200;
    }
    table thead tr:first-child {
        @apply border-b-1 border-b-primary-200;
    }

}
