@layer base {
  body {
    @apply font-body text-sm text-primary-900 bg-primary-050;
  }
  html {
    @apply m-0;
  }
  html,
  body{
    @apply overflow-x-hidden;
  }
  img {
    @apply inline-block;
  }
  a {
    @apply no-underline;
  }

  blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, pre {
    @apply mb-12;
  }

  p {
    @apply mb-4;
  }
  
  a,
  button {
    transition:
      0.25s color,
      0.25s background-color,
      0.25s border;
      -webkit-tap-highlight-color: transparent; 
    &.mouse {
      // force remove focus when user click
      outline: none !important; // stylelint-disable-line declaration-no-important
    }
    &:focus,
    &:focus-visible {
      outline-offset: 3px;
    }
  }
  select, input:not([type='file']) {
    @apply border-1 border-primary-500;
  }
  
  table {
    th,
    td {
      @apply text-left p-8 border-separate; 
    }
    th {
      @apply font-bold;
    }
    th:first-child:first-child {
      @apply rounded-tl-xl;
    }
    th:last-child:last-child {
      @apply rounded-tr-xl;
    }
    tr:last-child td:first-child {
      @apply rounded-bl-xl;
    }
    tr:last-child td:last-child {
      @apply rounded-br-xl;
    }
    tr:nth-child(2n) {
      @apply bg-primary-100;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold text-states-600;
  }
}
